.container{
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
grid-template-rows: 414px 130px 155px 20px;
    gap: 9px;
    background-color: black;
}
.sarkans{
background-color: #E72F24;
grid-row: span 414px;
}

.balts{
background-color: #F0F1EC;
grid-column: span 3;
}

.zils{
background-color: #004592;
}

.dzeltens{
background-color: #F9D01E;
}

.zals{
background-color: #232629;
}
.balts1{
    background-color: #F0F1EC;
    grid-column: span 1; 
    grid-row: span 2;
}
.balts2{
    background-color: #F0F1EC;
    grid-row: span 2;
    grid-column: span 2;
}